<app-header title="Track detail" [hasBackButton]=true></app-header>

<ion-content>
  <app-board [detailData] = "detailData"></app-board>
  <ion-list *ngIf="detailData" *ngFor="let item of detailData.playlist.tracks.items" class="align-list-items">
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/img/play-song.png">
      </ion-avatar>
      <ion-label>
        <h2>{{item.title}}</h2>
        <p>{{item.artist_name}}</p>
        <p slot="end">{{item.year}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
