<ion-header>
    <ion-toolbar class="header-border-bottom">
      <ion-title>
        Music Time! Lite
      </ion-title>
      <ion-button slot="end" color="primary" (click)="logout()">
        Log Out
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-list *ngFor="let groups of groupedList" class="align-list-items">
        <ion-grid>
          <ion-row>
            <ion-col 
              size="2" 
              size-xs="12" 
              size-sm= "6"
              size-md= "4"
              size-lg= "2.4"  *ngFor="let item of groups">
                <ion-card [routerLink]="[item.id]" class="fixline" routerDirection="forward">
                  <img src="{{item.image_52x52}}" />
                  <ion-card-header>
                    <ion-card-title class="no-wrap-text">{{item.title}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    {{item.type}}
                  </ion-card-content>
                </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <img src="../../../assets/img/app-banner.png" />
    </ion-list>
  </ion-content>