<ion-item class="audio-box" *ngIf="srcAudio">
  <audio hidden
        #audioElement 
        controls
        [loop]="srcAudio ? srcAudio.loop : false" 
        [autoplay]="true"
        prelod="metadata">
    <source [src]="srcAudio.urlTrack" type="audio/mpeg">
    <p>Tu navegador no implementa el elemento audio</p>
  </audio>
</ion-item>
<ion-item class="audio-box" color="secondary">
  <div id="container ion-text-center">
    <h2><span>Now playing: </span>{{srcAudio.title}}</h2>
    <div class="flex-box">
      <ion-button fill="clear" [color]="srcAudio.loop ? 'medium' : 'light'" shape="round" 
                  (click)="handleAudioLoop()">
        <ion-icon slot="icon-only" name="repeat"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="handlePrevSong()" color="light" shape="round">
        <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
      </ion-button>
      <ion-button (click)="handleOnPlayPause()" fill="clear" shape="round" color="light">
        <ion-icon slot="icon-only" [name]="playIcon"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="handleNextSong()" color="light" shape="round">
        <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
      </ion-button>
    </div>
    <ion-range  (ionChange)="changeRangePosition( $event )" min="0" [max]="audioDuration" [value]="currentPosition" 
      mode="md" color="light">
      <ion-label slot="start">{{restTime}}</ion-label>
      <ion-label slot="end">{{durationTime}}</ion-label>
    </ion-range>
  </div>
</ion-item>