<app-header title="Playlist detail" [hasBackButton]=true></app-header>

<ion-content *ngIf="detailData">
  <app-board [detailData] = "detailData"></app-board>
  <ion-list *ngFor="let item of trackList" class="align-list-items">
    <app-track 
      [track] = "item" 
      (clickTrackToPlay)="handlePlayOne( $event )"
      (clickLoopBtn)="handleLoop( $event )">
    </app-track>
  </ion-list>
  <app-audio-player *ngIf="trackActive" (sendNextTrack)="nextTrack( $event )" [audio]="trackActive"></app-audio-player>
</ion-content>
