<app-header title="Playlist detail" [hasBackButton]=true></app-header>

<ion-content *ngIf="detailData">
  <app-board [detailData] = "detailData" (playFromBoardPlaylist)="playFirstTrack( $event )"></app-board>
  <ion-list *ngFor="let item of trackList" class="align-list-items">
    <app-track 
      [track] = "item" 
      (playTrack)="handlePlayOne( $event )"
      (handleLoopFromTrack)="handleLoop( $event )">
    </app-track>
  </ion-list>
  <app-audio-player 
    *ngIf="trackActive" 
    (handleLoopFromPlayer)="handleLoop( $event )"
    (playTrackFromPlayer)="handlePlayOne( $event )"
    (sendNextTrack)="nextTrack( $event )" 
    (sendPrevTrack)="prevTrack( $event )"
    [audio]="trackActive"
    [active]="trackActive.active"
  ></app-audio-player>
</ion-content>
