.no-wrap-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.align-list-items{
    text-align: center;
    @media (max-width: 576px) {
        text-align: left;
    }
    ion-card {
        margin: 0px;
        &.no-border {
           border: none !important; 
           box-shadow: none;
        }
    }
    ion-card-header, ion-card-content {
        margin-left: 0px;
    }
    .cover-img {
        width: 90%;
    }
}
