.no-wrap-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.align-list-items{
    text-align: center;
    @media (max-width: 576px) {
        text-align: left;
    }
    ion-card {
        &.no-border {
           border: none !important; 
           box-shadow: none;
        }
    }
}
